html, body {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin: 0;
    min-height: 180;
    width: 296px;
    color: #FFFFFF;
    background-color: #041F30;
}

h1 {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
}

p {
    font-size: 14px;
}

button {
    background-color: #4BE680;
    border: none;
    font-size: 16px;
    padding: 12px 12px;
    margin: 8px 0px 8px 0px;
    border-radius: 3px;
    box-shadow: 0px 3px 2px 1px #00131f;
    width: 100%;
    transition: background-color 0.2s ease;
}

button:active {
    background-color: #41C46E;
}

a:link, a:visited, a:hover, a:active {
    color: #FFFFFF;
    text-decoration: none;
}

.modal-header {
    align-items: center;
    text-align: center;
    box-shadow: 0px 3px 2px 1px #00131f;
    background-color: #05283D;
    padding: 3px;
}

.modal-content {
    padding: 0px 16px 0px 16px;
}

.modal-footer {
    text-align: center;
    font-size: 12px;
    padding: 3px 3px 8px 3px;
}

.container {
    background-color: #042538;
    margin: 8px 0px 8px 0px;
    padding: 6px 14px 6px 14px;
    border-radius: 3px;
    box-shadow: 0px 3px 2px 1px #00131f;
}

.container p {
    margin: 0px;
}

.label {
    color: #B8B8B8;
    margin: 0px;
    font-weight: 150;
}

.number, .total-number {
    color: #FFFFFF;
    font-size: 32px;
}

.modal-footer a {
    color: #D8D8D8;
}